*{
    margin: 0px;
    padding: 0px;
}
body{
     background-image:url("images/image6.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    

    
}
a{
    text-decoration: none;
}
.cards{
    width:20%;
    background-color:grey;
    border-radius: 5px;
    margin:40px;
    box-shadow: 2px 2px 10px turquoise;
    text-decoration: none;
   

}
.images img{
    width:100%;
    
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 2px 2px 10px turquoise;
    
}
img{
    margin:auto;
    width:116px;
    
    float: left;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 2px 2px 10px red;
    
}
 #secondimg{
    margin:auto;
    width:100px;
    
    float: right;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 2px 2px 10px red;

}
#thirdimg{
    margin:auto;
    width:145px;
    
    float: left;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 2px 2px 10px red;

}
#fourthimg{
    margin:auto;
    width:160px;
    height: 160px;
    
    float: right;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 2px 2px 10px red;

}
.images img:hover{
    background-color: turquoise;
}
.title{
    text-align: center;
}
.des{
    text-align: center;
    padding: 4px;
}
button{

    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.cards:hover{
    background-color: turquoise;

}
button:hover{
    background-color: blue;
    color:white;
    transition: .5s;
    
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content p{
    
    font-family: 'Lobster', cursive;
    margin:32px 32px;
    width: 46%;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 5px 5px 10px rgb(25, 176, 196);
    
    color:white;
    text-align: center;
    size: 150;
    
    
  
    
    
}

.content p1{
    
   
    
    margin:auto;
    width: 35%;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 5px 5px 10px rgb(25, 176, 196);
    
    color:white;
    text-align: center;
}
.content p2{
    
   
    font-family: 'Itim', cursive;
    
    margin:32px 32px;
    width: 46%;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 5px 5px 10px rgb(25, 176, 196);
    
    color:white;
    text-align: center;
}
.content p3{
    
    font-family: 'Playball', cursive;
    font-family: 'Sora', sans-serif;
    margin:auto;
    
    width: 40%;
    
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    box-shadow: 5px 5px 10px rgb(25, 176, 196);
    
    color:white;
    text-align: center;
}
h1{
    color: rgb(52, 17, 206);
    
}
  
    
    
    
